<section class="section is-flex is-justify-content-center is-align-items-center">
  <div class="card box has-shadow-8" style="width: 30%;">
    <div class="card-content">
      <div class="content has-text-centered">
        <p class="title is-4">Inicio de Sesión</p>
      </div>

      <%= render "form" %>

      <% if flash[:alert] %>
        <div class="notification is-danger is-light has-text-centered" role="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>
  </div>
</section>
