<section class="section is-flex is-justify-content-center is-align-items-cente">
  <div class="card box has-shadow-8" style="width: 30%;">
    <div class="card-content">
      <div class="content has-text-centered">
        <p class="title is-4">Registrate</p>
      </div>

      <%= render "form" %>
    </div>
  </div>
</section>

