<table class="table is-fullwidth is-centered">
  <thead>
    <tr>
      <th>Fecha de venta</th>
      <th>Hora de venta</th>
      <th>Usuario</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.sale_date.to_date %></td>
        <td><%= sale.sale_time %></td>
        <td><%= sale.user.email %></td>
        <td><%= sale.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>