<div class="container">
  <div class="slider">
    <% @products.each do |product| %>
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <%= image_tag(product.image, class: "product-image") %>
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-4"><%= product.name %></p>
          <p><%= product.description %></p>
          <p>Ventas totales: <%= product.sale_count %></p>
        </div>
      </div>
    <% end %>
  
  </div>
</div>


<script>
  $(document).ready(function(){
    $('.slider').slick({
      slidesToShow: 3, 
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000, 
    });
  });
</script>