<!-- app/views/products/index.html.erb -->
<section class="section">
  <div class="container">
    <div class="field">
      <label class="label">Filtrar por categoría:</label>
      <div class="control">
        <div class="select">
          <select id="filterSelect">
            <option value="all">Todos</option>
            <!-- Agrega aquí opciones de categoría según tus necesidades -->
          </select>
        </div>
      </div>
    </div>

    <div class="pagination" role="navigation" aria-label="pagination">
      <%= will_paginate @products %>
    </div>

    <div class="columns is-multiline" id="productCards">
      <% @products.each do |product| %>
        <%= render "product_post" , product: product %>
      <% end %>
    </div>
  </div>
</section>
