<!-- app/views/products/new.html.erb -->
<section class="section">
  <div class="container">
    <h1 class="title">Agregar Nuevo Producto</h1>

    <%= render 'form', product: @product %>
  </div>
</section>
